
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/login-form-01/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/login-form-01/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/login-form-01/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/login-form-01/css/style.css">
    <link rel="stylesheet" href="~/modal-01/css/ionicons.min.css">
    <link rel="stylesheet" href="~/modal-01/css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Kullanıcı Girişi | Online Ticari Otomasyon</title>

    <style>
        .cari:focus {
            outline: none;
            border: 1px solid #5bc0de;
        }
        
        .personel:focus {
            outline: none;
            border: 1px solid #f0ad4e;
        }

        .kayit:focus {
            outline: none;
            border: 1px solid #d9534f;
        }
    </style>
</head>
<body>
    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url('https://images.unsplash.com/photo-1726137569997-d3f2c20bff3b?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');"></div>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <h3><strong>Online Ticari Otomasyon</strong><br />Kullanıcı Girişi</h3>
                        <p class="mb-4" style="color:darkgrey">Ticari otomasyonumuzda<strong> Personel </strong>ve<strong> Cari </strong>olmak üzere iki kullanıcı tipi bulunmaktadır. Lütfen giriş yapmak istediğiniz kullanıcı panelini aşağıdan seçiniz.</p>
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-info btn-block rounded-pill" data-toggle="modal" data-target="#cariLoginForm">Cari Girişi</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-warning btn-block rounded-pill" data-toggle="modal" data-target="#personelLoginForm">Personel Girişi</button>
                            </div>
                            <div class="col-12 mt-3 text-center">
                                <button type="button" class="btn btn-danger btn-block rounded-pill" data-toggle="modal" data-target="#registerForm">Kayıt Ol</button>
                                <small style="color:dimgray">*Yalnızca cari tipi kullanıcı hesabı oluşturulabilir.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="~/login-form-01/js/jquery-3.3.1.min.js"></script>
<script src="~/login-form-01/js/popper.min.js"></script>
<script src="~/login-form-01/js/bootstrap.min.js"></script>
<script src="~/login-form-01/js/main.js"></script>
<script src="~/modal-01/js/jquery.min.js"></script>
<script src="~/modal-01/js/popper.js"></script>
<script src="~/modal-01/js/bootstrap.min.js"></script>
<script src="~/modal-01/js/main.js"></script>

<div class="modal fade" id="cariLoginForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close d-flex align-items-center justify-content-center" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="ion-ios-close"></span>
                </button>
            </div>
            <div class="modal-body p-4 p-md-5">
                <div class="icon d-flex align-items-center justify-content-center"  style="border: 1px solid #5bc0de">
                    <span class="ion-ios-person" style="color: #5bc0de"></span>
                </div>
                <h3 class="text-center mb-4">Cari Giriş Formu</h3>
                <form action="/Login/CariLogin" method="post" class="login-form">
                    <div class="form-group">
                        <input type="text" name="CariMail" class="form-control cari rounded-left" placeholder="E-Posta Adresiniz">
                    </div>
                    <div class="form-group d-flex">
                        <input type="password" name="CariSifre" class="form-control cari rounded-left" placeholder="Şifreniz">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary rounded submit px-3" style="background: #5bc0de !important; border: #5bc0de !important; ">Giriş Yap</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="personelLoginForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close d-flex align-items-center justify-content-center" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="ion-ios-close"></span>
                </button>
            </div>
            <div class="modal-body p-4 p-md-5">
                <div class="icon d-flex align-items-center justify-content-center" style="border:1px solid #f0ad4e">
                    <span class="ion-ios-person" style="color: #f0ad4e"></span>
                </div>
                <h3 class="text-center mb-4">Personel Giriş Formu</h3>
                <form action="/Login/AdminLogin" method="post" class="login-form">
                    <div class="form-group">
                        <input type="text" name="KullaniciAd" class="form-control personel rounded-left" placeholder="Kullanıcı Adınız">
                    </div>
                    <div class="form-group d-flex">
                        <input type="password" name="Sifre" class="form-control personel rounded-left" placeholder="Şifreniz">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary rounded submit px-3" style="background: #f0ad4e !important; border: #f0ad4e !important; ">Giriş Yap</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.Action("Partial1", "Login")
