
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<div>
    @using (Html.BeginForm("Index", "QRCode", FormMethod.Post))
    {
        <input type="text" name="Kod"/>
        <input type="submit" value="QR Oluştur"/>
    }
    <br />
    @if (ViewBag.QRCode != null)
    {
        <img src="@ViewBag.QRCode" alt="" style="width: 400px; height:400px;"/>
    }
</div>