
@{
    ViewBag.Title = "Index5";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            url: '@Url.Action("VisualizeUrunResult2", "Grafik")',
            success: function (result) {
                google.charts.load('current', {
                    'packages': ['corechart']
                });
                google.charts.setOnLoadCallback(function () {
                    drawChart(result);
                });
            }
        });
    });

    function drawChart(result) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('number', 'Stoklar');
        var dataArray = [];
        $.each(result, function (i, obj) {
            dataArray.push([obj.UrunAd, obj.Stok]);
        });
        data.addRows(dataArray);
        var columnChartOptions = {
            width: 1000,
            height: 600,
            bar: { groupWidth: "20%" },
        };
        var columnChart = new google.visualization.PieChart(document
            .getElementById('piechart_div'));
        columnChart.draw(data, columnChartOptions);
    }
</script>

<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Grafikler</h3>
                <p class="text-subtitle text-muted">Bu sayfada çeşitli grafikler görüntülenmektedir.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Dashboard/Index/">Personel Paneli</a></li>
                        <li class="breadcrumb-item"><a href="#">Grafikler</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Pie Grafiği</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title">Ürün-Stok Grafiği</h5>
            </div>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div id="piechart_div"></div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>